<?xml version="1.0" encoding="UTF-8"?>
<widget
 id = "ar.com.ingverger.mtimer"
 versionCode = "01002"
 version  = "0.10.02" >

 <name>MTIMER</name>

 <description>
		M-Timer es una herramienta para controlar el tiempo asignado a una actividad.
		Se establece el tiempo disponible en minutos y segundos.
		El tiempo fijado por defecto se modifica con las flechas que apuntan hacia arriba para incrementar y hacia abajo para decrementar.
		Una vez establecido el tiempo disponible se esta en condiciones de iniciar la cuenta regresiva. Esto se hace picando en el boton inicio (play)
		En pantalla se presenta el tiempo restante. Cuando se ha completado el tiempo comienza un sonido audible para alertar sobre esta situación.
		Se puede interrumpir el conteo de tiempo en cualquier instante pulsando el boton detener.
 </description>

 <author href="http://www.ingverger.com.ar" email="ingverger@gmail.com">
  Guillermo Verger
 </author>

 <preference name="android-targetSdkVersion"  value="26" />
 <preference name="orientation" value="landscape" />

 <content src="index.html" />
 <access origin="*" />

 <platform name="android">
  <allow-intent href="market:*" />
  <icon   src="iconMtimer.png" />
 </platform>

</widget>
